@import "tailwindcss";

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: #020617;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Scroll */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}
