@import "tailwindcss";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body{

width:100%;
height:100%;

font-family:Arial,Helvetica,sans-serif;

background:#050505;

color:white;

}

body{

background:

linear-gradient(
180deg,
#050505,
#08131f,
#050505
);

}

.container{

width:100vw;

height:100vh;

display:flex;

align-items:center;

justify-content:center;

}

.hero{

width:900px;

padding:60px;

border-radius:25px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.1);

backdrop-filter:blur(10px);

text-align:center;

}

.hero h1{

font-size:64px;

color:#00C853;

margin-bottom:20px;

}

.hero h2{

font-size:32px;

margin-bottom:30px;

color:#FFD54F;

}

.hero p{

font-size:20px;

opacity:.8;

}

.loading{

width:100vw;

height:100vh;

display:flex;

align-items:center;

justify-content:center;

font-size:40px;

}
